.masterHeading {
  font-size: 4rem;
}

.backgroundImage {
  background-image: url("/home/Vue Du Vallon Chambres dHotes Bersac Sur Rivalier.jpg");
  height: calc(100vh - 180px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: calc(100px + 25vh);
}

.centerPanel {
  margin-top: -2rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  width: fit-content;
  border-radius: 4px;
}

@media (min-width: 750px) {
  .centerPanel {
    margin-top: -11rem;
  }

  .backgroundImage {
    background-image: url("/home/background-image.webp");
  }
}

@media (min-width: 1400px) {
  .centerPanel {
    margin-top: 13rem;
  }

  .backgroundImage {
    background-image: url("/home/bersac chambres dhotes.jpg");
  }
}

@media (min-width: 1580px) {
  .centerPanel {
    margin-top: 15rem;
  }

  .backgroundImage {
    background-image: url("/home/bersac chambres dhotes airial front.jpg");
  }
}